<div class="panel panel-info">
  <div class="panel-heading clearfix">
    <h1>Contact Us</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Admin Name:
                    </th>
                    <th>
                        Email Address:
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ashley Childress</td>
                    <td><a href="mailto:achilr1@my.westga.edu">achildr1@my.westga.edu</a></td>
                </tr>
                <tr>
                    <td>Christopher Wilson</td>
                    <td><a href="mailto:cwilso25@my.westga.edu">cwilso25@my.westga.edu</a></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>