<h1>Password Reset Request</h1>

<p>We apologize, but no user was found in the Interest Points application
  that is associated with this email address. Please register at <%= root_url %> and join the fun!</p>

<p>Your Administrators,</p>
<p>Chris Wilson &amp; Ashley Childress</p>