<p>Hi <%= @user.first_name %>,</p>

<p>Thanks for signing up with Interest Points. Sign in at <%= root_url %> and join the fun!</p>

<p>Your Administrators,</p>
<p>Chris Wilson &amp; Ashley Childress</p>