/**
 *   Adapted from rambling.slider theme-default: https://github.com/ramblinglabs/rambling.slider/blob/master/assets/stylesheets/themes/default.scss
 *   Skin Name: Rambling Slider Default Theme
 *   Skin Type: flexible
 *   Description: The default skin for the Rambling Slider.
 *   Version: 1.0
 *   Author: Rambling Labs (originally by Gilbert Pellegrom)
 *   Author URI: http://ramblinglabs.com
 * 
 * 
 *   Adapted-author: Ashley Childress, on 2/14/2014
 */

.ash {
  margin: 0px auto 50px auto;
  //border: 2px solid red;    // for testing  
}
.actions  {
  margin: 5px auto 50px auto;
  padding-left: 25px;
  max-width: 200px;
}
img {
  margin-bottom: 25px;
}
#images-list{
  margin: 15px 0 50px 50px;  
}
 
